
.untree_co-slider {
	&, & > .container > .row {
		min-height: 600px;
		height: 70vh;
	}
	> .container {
		position: relative;
		z-index: 2;
	}
	.slider-direction-wrap {
		min-height: 600px;
		height: 70vh;
		position: absolute;
		top: 85px;
		width: 70vw;
		right: 0;
		z-index: 9;
		.slider-direction {
			bottom: 0;
			position: absolute;
			left: 0;
			a {
				float: left;
				display: inline-block;
				width: 80px;
				height: 80px;
				line-height: 80px;
				background: $white;
				text-align: center;
			}
		}
	}
	.image-slider-wrap {
		.image-slider {
			min-height: 600px;
			height: 70vh;
			position: absolute;
			width: 100%;
			z-index: 1;

			.item {
				transition: .3s all ease;
				opacity: 0;
				visibility: hidden;
				z-index: 1;
				&.active {
					opacity: 1;
					visibility: visible;
					z-index: 2;
				}
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				height: 100%;
				width: 70vw;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

			}
		}
		.slider-direction {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 70vw;
			z-index: 9;
			a {
				display: inline-block;
				height: 50px;
				width: 50px;
				background: $white;
				text-align: center;
				line-height: 50px;
			}
		}
	}
	h1 {
		font-family: $font-family-heading;
		font-size: 50px;
		color: $black;
		font-weight: 700;
	}
}

